table{
  background-color: var(--blue);
  padding: 20px;
  border: solid;
  margin: 20px;
}
tr {
  background-color: var(--grey);
}
th {
  border: 1px solid #000;
  color: #fff;

}
td {
  color: var(--red);
  padding: 20px;
}
