
table {
  padding: 5px;
  margin: 15px;
  border: 1px solid var(--red);
  border-collapse: collapse;
}
th {
  border: 1px solid var(--red);
  padding: 5px;
}
td {
  padding: 10px;
  border: 1px solid var(--red);
}

table.light {
  background: #a5a5a5;
  color: var(--blue);
}
table.dark {
  background: var(--grey);
  color: #fff;
  border: 1px solid var(--blue);

}
table.dark td, table.dark th {
  border: 1px solid var(--blue);
}
