body {
  margin: 10px;
  padding: 10px;
  border: 2px ridge;
}
h1 {
  width: 250px;
  padding-left: 20px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}
p {
  width: 350px;
  margin-left: 50px;
  padding: 0 5 0 5;
  border: 3px solid var(--red);
}
