body {
  background: var(--grey);
  color: #fff;
}

div {
  border-radius: 10px;
  border: 2px solid var(--red);
  width: 400px;
  height: 200px;
  padding: 30px 5px 0 5px;
  position: relative;
}
div::before {
  border-top: 2px solid var(--red);
  border-left: 2px solid var(--red);
  border-right: 2px solid var(--red);
  content: "";
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: var(--blue);
  position: absolute;
  height: 24px;
  top: -2px;
  left: -2px;
}
